
*{
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.main {
	width: 100%;
	height: 70px;
	background-color: #4fc3f7;
}

.textexam {
	width: 50%;
	height: 150px;
	background-color: #c6ff00;
	margin: 0 auto;
}

.background {
	background-color: orange;
	width: 100%;
	height: 50px;
	color: black;
	text-align: center;
}

.ozero {
	background-color: red;
	width: 100%;
	height: 80px;
	text-align: center;
	color: black;
}


.loremru{
	width: 70%;
	text-align: center;
}


.krimsi{
margin: 0 auto;
}


.miyazaki {
	width: 100%;
	height: 100%;
}

.floater {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
}

.m-wrapper {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    -moz-background-image: url("../bg_start.gif");
    -o-background-image: url("../bg_start.gif");
    -webkit-background-image: url("bg_start.gif");
    background-image: url("../bg_start.gif");
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.m-content {
    background-color: black;
    opacity: .7;
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#title {
    margin: 0;
    font-size: 5vw;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;

}
.ibragim {
    text-align: center;



}
.novost{
    margin-left:33%; 
    width: 600px;
    border: 1px solid #A76E2A;
    border-radius: 10px;
    display: block;
    
}

.kartinochka img{
    border-radius: 20px;
}